.container {
  position: absolute;
  top: 60px;
  background-color: var(--color-background-base);
  width: 140%;
  box-shadow: var(--box-shadow-elevation-floating);
  border-radius: var(--border-radius-container);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  z-index: 1;
}

.container.containerCentered {
  left: 50%;
  transform: translateX(-50%);
}

.container.containerAlignedLeft {
  left: 0;
}

.container.containerAlignedRight {
  right: 0;
}

.title {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: var(--font-size-300);
  font-weight: var(--font-weight-semibold);
}

.boardsLabelAndList {
  width: 100%;
}

.boardsLabel {
  font-size: var(--font-size-100);
}

.boardsScrollable {
  max-height: 200px;
  overflow-y: auto;
}

.createBoardButtonContainer {
  width: 100%;
  padding: 12px 0 16px;
  border-top: 1px solid var(--color-border-container);
}

.createBoardButton {
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  font-size: var(--font-size-200);
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-default);
  padding: 8px 0;
  text-align: left;
}

.loadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-background-light-transparent-overlay);
  border-radius: var(--border-radius-container);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  color: var(--color-loading-spinner);
}
