.container {
  height: var(--header-height);
  padding: 4px 16px;
  box-sizing: border-box;
}

.headerItemsContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.profileLink {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.profileLink:hover {
  background-color: var(--color-background-secondary);
}

.profilePicture {
  object-fit: cover;
  border-radius: 12px;
}

.profileLinkBadge {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  color: var(--color-text-default);
  text-align: center;
  line-height: 24px; /* equal to height, to center text vertically */
  font-size: 10px;
  font-weight: var(--font-weight-semibold);
  background-color: var(--color-background-secondary);
}

.profileLinkWrapper,
.accountOptionsButtonWrapper {
  position: relative;
}

.tooltip {
  display: none;
  position: absolute;
  top: calc(100% + 4px);
  left: 50%;
  transform: translateX(-50%);
  padding: 8px;
  border-radius: 8px;
  background-color: var(--color-gray-500);
  color: var(--color-text-inverse);
  font-size: var(--font-size-100);
  box-shadow: var(--box-shadow-elevation-floating);
  z-index: var(--z-index-above-content);
  pointer-events: none;
  white-space: nowrap;
}

.profileLinkWrapper:hover .tooltip,
.accountOptionsButtonWrapper:hover .tooltip {
  display: block;
}

.accountOptionsButtonWrapper .tooltip {
  left: auto;
  right: 0;
  transform: none;
}

.accountOptionsButton {
  cursor: pointer;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: transform 0.1s;
}

.accountOptionsButton:active {
  transform: scale(0.85);
}

.accountOptionsButton:hover {
  background-color: var(--color-background-secondary);
}
