.container {
  height: calc(100vh - var(--header-height));
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.container > * {
  scroll-snap-align: start;
}

.hero {
  height: calc(100vh - var(--header-height));
}
